.titulo {

    text-align: left;

}

.subtitulo {

    text-align: left;

}

.letra8 {

    font-size: 8px;
    text-align: left;

}

.letra10 {

    font-size: 10px;
    text-align: left;

}

.letra15 {

    font-size: 15px;
    text-align: left;

}

.letra23 {

    font-size: 23px;
    text-align: left;

}

.letra40 {

    font-size: 40px;
    text-align: left;
    
}