.small {

    font-size: small;
    text-align: center;

}

.mediano {

    font-size: medium;
    text-align: center;

}

.grande {

    font-size: large;
    text-align: center;

}

.xxl {

    font-size: x-large;
    text-align: center;
    
}