.bold {

    font-weight: bold;

}

.rojo {

    font-weight: bold;
    color: red;

}

.azul {

    font-weight: bold;
    color: blue;

}

.verde {

    font-weight: bold;
    color: green;

}

.amarillo {

    font-weight: bold;
    color: yellow;
    
}